<div class="mb-4 border border-primary-light dark:border-secondary-light rounded-md overflow-hidden">
	<a href="{{ .Permalink }}" class="no-underline block">
		{{/* A span is used instead a div for accessibiliy, <a> tag can't wrap div elements */}}
			<span class="block">
				{{ with .Params.banner }}
                                <img class="w-full" src="{{ . | absURL }}"></img>
				{{ end }}
                                <hr>
				<div class="px-4 mt-3 mb-3">
				</div>
				<div class="px-4 mb-3 text-primary-dark text-center">
					{{ with .Params.subtitle }}
					{{ . }}
					{{ else }}
					{{ substr .Plain 0 256 }}
					{{ end }}
					<span class="text-xs mt-3 block no-underline text-right">{{ i18n "read_more" }}...</span>
				</div>
			</span>
		</a>
</div>
